<div class = "remittance">
	<div class = "app__header_theme">
	  <h2 class="-remittance __title">Перевод с карты на карту</h2>
	  <nav class = "-remittance __navigation">
	    <div class = "-remittance __empty-link"></div>
	    <div class = "-remittance __link" routerLink="/form" routerLinkActive="active">Осуществить перевод</div>
	    <div class = "-remittance __link" routerLink="/history" routerLinkActive="active">Посмотреть историю переводов</div>
	    <div class = "-remittance __empty-link"></div>
	    <div class = "-remittance __empty-link"></div>
	  </nav>
	</div>

  <router-outlet></router-outlet>
</div>
<!--app-remittance-form></app-remittance-form>
<app-remittance-history></app-remittance-history-->

