.remittance{
	height:100vh;
	overflow-x:hidden;
}

.__navigation{
	margin: 2vh auto 5vh auto;
	display: flex
}

.__link{
	cursor:pointer;
	display:inline;
	position:relative;
	padding: 10px 30px;
	z-index:10;
	outline:none;
	border-bottom:1px solid black;
	flex:0 0 20%;
}

.__empty-link{
	border-bottom:1px solid black;
	flex:0 0 20%;
}



.__link.active{
	border:1px solid black;
	border-bottom:none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.__title{
	position:relative;
	left:10%;
}



