<div class = "app app_theme_blue theme_blue">
	<div class = "app__header">
	  <h2 class="app__title">Перевод с карты на карту</h2>
	  <nav class = "app__navigation">
	    <div class = "app__link"></div>
	    <div class = "app__link" routerLink="/form" routerLinkActive="active">Осуществить перевод</div>
	    <div class = "app__link" routerLink="/history" routerLinkActive="active">Посмотреть историю переводов</div>
	    <div class = "app__link"></div>
	    <div class = "app__link"></div>
	  </nav>
	</div>
  <router-outlet></router-outlet>
</div>
