:host-context(.pop-up-form_success) .pop-up-form,
.pop-up-form_success{
	color: green;
	border: 1px solid green;
}

:host-context(.pop-up-form_error) .pop-up-form,
.pop-up-form_error{
	color: red;
	border: 1px solid red;
}